/*Font Families*/
@font-face {
  font-family: "Open Sauce(Bold)";
  src: url("Fonts/OpenSauceOne-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce(Light)";
  src: url("Fonts/OpenSauceOne-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("Fonts/BricolageGrotesque-Medium.ttf") format("truetype");
}

/*Which font belongs with which element*/
h1 {
  font-family: "Open Sauce(Bold)";
}

h2 {
  font-family: "Bricolage Grotesque";
}

p {
  font-family: "Open Sauce(Light)";
}

/*NavBar Details*/
header nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #3C3744;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/*NavBar List size and padding*/
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/*Logo image size*/
header nav ul li.nav-bar-logo img {
  height: 5rem;
  width: auto;
  max-height: 3rem;
}

/*Logo margin from each side*/
header nav ul li.nav-bar-logo {
  margin: 0 0.5rem;
}

/*Logo hover */
header nav ul li.hav-bar-logo a:hover {
  background-color: #36313d;
  width: 8rem;
  height: auto;
}

/*Page Button Color/Margin*/
header nav ul li a {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 0.6rem;

} 

/*NavBar when hovering over one of the pages*/
header nav ul li a:hover, header nav ul li a:active {
  background-color: #302c36;
} 